@use "../../styles/constants.module.scss" as constants;
@use "../../styles/functions.module.scss" as functions;
@use "../../styles/mixin.module.scss" as mixin;

.nav {
  &__list {
    display: flex;
    column-gap: functions.rem(40);
  }
  &__item {
    color: constants.$whiteColor;
    font-family: constants.$fontHelvetica;
    font-size: functions.rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: functions.rem(20);
    text-transform: uppercase;
  }
}
