$maxWidth: 1920;
$maxWidthContainer: 1280;
$containerWidth: 1180;
$tableWidth: 768;
$minWidth: 320;

$mainOffset: 50;
$mainFont: "Montserrat";
$mainWeight: 400;

$whiteColor: rgb(255, 255, 255);
$redColor: rgb(255, 0, 0);

$fontFamily: $mainFont, sans-serif;
$fontStyle: normal;
$fontLetter: normal;
$fontSize: 16;
$fontWeight: $mainWeight;

$standartTrans: all 280ms;
